:root {
    --primary: #3f1f12;
    --links: #150701;
    --hover: #15011d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Exo 2', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: .5rem;
    border-radius: .3rem;
    background-color: var(--primary);
}

.card {
    border-radius: .5rem;
    box-shadow: 3px 4px 7px -3px #e69b7b;
    background-color: var(--primary);
}

.card-body {
    padding: .8rem 1rem;
}

.card:hover {
    box-shadow: 4px 5px 5px -2px #e69b7b;
}

.container {
    width: 94vw;
    max-width: 1000px;
    margin: 0 auto;
}

/* Nav */
nav {
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 52px;
    width: 52px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child){
    margin-right: 2rem;
}

.nav-item a {
    font-size: 1rem;
    color: #fff;
}

.nav-item > a:hover {
    border-bottom: 1px solid #fff;
    transition: .6s ease-in;
}
/* End Nav */


/* Header section */
.header {
    padding: 160px 0;
    background: url('../images//background.png');

}

.name {
    margin: .5rem 0;
}

.salut {
    font-size: 2.6rem;
    color: var(--links);
}

.salut span i{
    font-size: 3rem;
    color: #37221b;
}

.name {
    font-size: 2.8rem;
}

.name > span {
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    color: var(--primary);
}

.occupation {
    font-size: 2.6rem;
    color: var(--hover);
}

.social {
    display: flex;
    align-items: center;  
    margin: 2rem 0;  
}

.social a > i {
    color: var(--links);
}

.social a > i:hover {
    color: var(--primary);
    transition: .6s ease-out;
}

.social > a:not(:last-child) {
    margin-right: 2rem;
}

.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .content img {
    width: 40%;
    height: fit-content;
}
/* End Header */


/* About */
.about {
    padding: 160px 0;
}

.about .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .content > img {
    width: 40%;
    height: fit-content;
    flex: .4;
}

.about .content .description {
    flex: .6;
    margin-left: 5rem;
}

.about .description > .title {
    font-size: 4rem;
    border-bottom: 1px solid var(--primary);
}

.about .description p {
    margin: 1rem 0 2rem 0;
    letter-spacing: 1px;
}

.about .description > a {
    padding: .7rem 1rem;
    color: white;
    text-transform: uppercase;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.about .description >a:hover {
    background-color: var(--links);
    transition: .6s ease-out;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* End About */

/* Skills section */
.skills {
    padding: 160px 0;
    background: url('../images//background.png');
}

.skills .content .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--primary);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.skills-container > i {
    color: var(--primary);
    cursor: pointer;
}

.skills-container >i:hover {
    color: var(--links);
    transition: .6s ease-in;
}
/* End skills */

/* Services */
.services {
    padding: 160px 0;
}

.services .content > .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--primary);
}

.services-container {
    display: flex;
    justify-content: space-between;
}

.services-container > .card {
    cursor: pointer;
    color: white;
}

.services-container > .card:hover {
    background-color: var(--links);
    color: white;
    transition: .6s ease-in;
}

.services-container > .card:not(:last-child){
    margin-right: 1rem;
}

.services-container .card > img {
    height: 150px;
    width: 200px;
}
/* End services */

/* Contact section */
.contact {
    padding: 160px 0;
}

.contact .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .content > .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--primary);
}

.contact .content p {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact .content a {
    padding: .7rem 2rem;
    border-radius: 1rem;
    background-color: var(--primary);
    text-transform: uppercase;
    color: white;
}

.contact .content a:hover {
    background-color: var(--links);
    transition: .6s ease-in;
}
/* End Contact */


/* Projects */
.projects {
    padding: 160px 0;
    background: url('../images/background.png');
}

.projects .content > .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--primary);
}

.projects-container {
    display: flex;
}

.projects-container > .card {
    color: #000;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 3rem;
}

.projects-container > .card:hover {
    box-shadow: 2px 6px 10px 0 rgba(0,0,0,0.2);
}

.projects-container > .card:not(:last-child) {
    margin-right: 2rem;
}

.projects-container .card > img {
    width: 200px;
    height: 150px;
}

.projects-container .card-body h3 > a {
    color: var(--primary);
}

.projects-container .card-body h3 > a:hover {
    color: var(--links);
}

.view-more {
    display: flex;
    justify-content: center;
}

.more {
    padding: .7rem 2rem;
    border-radius: .3rem;
    background-color: var(--primary);
    text-transform: uppercase;
    color: white;
}

.more:hover {
    background-color: var(--links);
    transition: .6s ease-in;
}

/* End projects */